@media (max-width:768px) {
    section{
        flex-direction: row;
        margin: 0;
        

    }
    .dimgs{
        /* display: none; */
    }
    .navlogo{
   height: 100%;

   }
   .navlogo img{
    height: clamp();
   
   }
   .navitems ul {
    flex-wrap: wrap;
     gap: 16px; 

   }
}